<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/Home.css')}}">
  <title>Document</title>
</head>
<body>
  <h1>DSP OPERATIONS</h1>
<div class="btn-holder">
  <button class="btn btn-1 hover-filled-slide-down">
    <span>FILTERING</span>
  </button>
  <button class="btn btn-1 hover-filled-slide-up">
    <span>hover me</span>
  </button>
  <button class="btn btn-1 hover-filled-slide-left">
    <span>hover me</span>
  </button>
  <button class="btn btn-1 hover-filled-slide-right">
    <span>hover me</span>
  </button>
  <button class="btn btn-1 hover-filled-opacity">
    <span>hover me</span>
  </button>
</div>
<div class="btn-holder">
  <button class="btn btn-2 hover-slide-down">
    <span>hover me</span>
  </button>
  <button class="btn btn-2 hover-slide-up">
    <span>hover me</span>
  </button>
  <button class="btn btn-2 hover-slide-left">
    <span>hover me</span>
  </button>
  <button class="btn btn-2 hover-slide-right">
    <span>hover me</span>
  </button>
  <button class="btn btn-2 hover-opacity">
    <span>hover me</span>
  </button>
</div>

</body>
</html>
