<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <title>DSP Toolbox</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSS Vertical Hamburger Menu</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
</head>

<body>
  <div class="hamburger-icon">
    <i class="fas fa-bars open-icon"></i>
  </div>
  <div class="navigation-bar">
    <div class="icon-box">
      <i class="fas fa-times close-icon"></i>
    </div>
    <div class="nav-title">
      <h3>DSP OPERATIONS</h3>
    </div>
    <div class="nav-menu">
      <a href="Home.html" class="nav-link">Home</a>
      <a href="#" class="nav-link">About</a>
      <a href="#" class="nav-link">Services</a>
      <a href="#" class="nav-link">Product</a>
      <a href="#" class="nav-link">Contact Us</a>
    </div>
  </div>
</body>
</html>

 
</body>
</html>