<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/Operations2.css')}}">
</head>
<body>
  <div class="head">
<h1 ><a href="index2.html">ToolBox</a></h1>
  </div>
<p>Digital Signal Processing</p>
<div id="grid">
     
   <a>
        <div class="img"><span></span><span></span><span></span><span></span><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/design_toolkits_and_samples.png" /></div><span class="title">Filtering</span><span class="description">Filtering is a process that removes some unwanted components or features from a signal.</span>
    </a>
     <a href="Practise.html">
        <div class="img"><span></span><span></span><span></span><span></span><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/design_toolkits_and_samples.png" /></div><span class="title">Convolution</span><span class="description">Convolution is a mathematical way of combining two signals to form a third signal.</span>
    </a>
     <a>
        <div class="img"><span></span><span></span><span></span><span></span><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/172299/design_toolkits_and_samples.png" /></div><span class="title">DFT</span><span class="description">The DFT is one of the most powerful tools in digital signal processing which enables us to find the spectrum of a finite-duration signal.</span>
    </a>
  </div>
</body>
</html>