<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{url_for('static',filename='css/Polynomial.css')}}">
  <title>Document</title>
</head>
<body>
  <div class="main">
 <form method="POST" action="/Convolution3by3.html"> 
  <h1 style="text-align:center ;font-weight: 400;" >Polynomial</h1>
  <div class="section1">

    <p style="font-size: larger;">Sequence1</p>
        <input type="number" name="num1" placeholder="Enter num1" id="num1"> </br>
        <input type="number" name="num2" placeholder="Enter num2" id="num2"></br>
        <input type="number" name="num3" placeholder="Enter num3" id="num3"></br>
        </div>
      </br>
        <div class="section2">
    <p style="font-size:larger ;">Sequence2</p>
        <input type="number" name="num5" placeholder="Enter num5" id="num5"></br>
        <input type="number" name="num6" placeholder="Enter num6" id="num6"></br>
        <input type="number" name="num7" placeholder="Enter num7" id="num7"></br>
        <!-- <input type="number" name="num9" placeholder="Enter num9" id=""> -->
        <!-- <input type="number" name="num10" placeholder="Enter num10" id=""> -->
        <button id="button" type="submit">Submit</button></form>
  </div>
</body>
</html>