<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/Practise2.css')}}">
</head>
<body>
 <div class="container">
    <form method="POST" action="/Practise2.html">
	<div>
		<h4 class="title">Sequence 1</h4>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name=">
				  <span class="omrs-input-label">Number 1</span>

				</label>
			</div>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name  ="num2"required>
				  <span class="omrs-input-label">Number 2</span>

				</label>
			</div>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name="num3" required>
				  <span class="omrs-input-label">Number 3</span>

				</label>
			</div>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name= "num4" required>
				  <span class="omrs-input-label">Number 4</span>

				</label>
			</div>
	</div>
	<div>
		<h4 class="title">Sequence 2</h4>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name= "num5"  required>
				  <span class="omrs-input-label">Number 1</span>

				</label>
			</div>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name="num6" required>
				  <span class="omrs-input-label">Number 2</span>

				</label>
			</div>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name="num7" required>
				  <span class="omrs-input-label">Number 3</span>

				</label>
			</div>
			<div class="omrs-input-group">
				<label class="omrs-input-underlined">
				  <input name="num8" required>
				  <span class="omrs-input-label">Number 4</span>

				</label>
			</div>
    <button type="submit">Submit</button>
  </form>
	</div>
	<!-- <div>
		<h4 class="title">Sequence 2</h4>
		<form>
			<div class="omrs-input-group">
				<label class="omrs-input-filled">
				  <input required>
				  <span class="omrs-input-label">Number 1</span>
					
				
				</label>
			</div>
				<div class="omrs-input-group">
				<label class="omrs-input-filled">
				  <input required>
				  <span class="omrs-input-label">Number 1</span>
					
				</label>
			</div>
				<div class="omrs-input-group">
				<label class="omrs-input-filled">
				  <input required>
				  <span class="omrs-input-label">Number 1</span>
					
				
				</label>
			</div>
				<div class="omrs-input-group">
				<label class="omrs-input-filled">
				  <input required>
				  <span class="omrs-input-label">Number 1</span>
					
				</label>
			</div>
			

		</form>
	</div>
</div> --> 
</body>
</html>