<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <form method="POST" action="/Practise.html"> 
        <input type="number" name="num1" placeholder="Enter num1" id="">
        <input type="number" name="num2" placeholder="Enter num2" id="">
        <input type="number" name="num3" placeholder="Enter num3" id="">
        <input type="number" name="num4" placeholder="Enter num4" id="">
        <input type="number" name="num5" placeholder="Enter num5" id="">
        <input type="number" name="num6" placeholder="Enter num6" id="">
        <input type="number" name="num7" placeholder="Enter num7" id="">
        <input type="number" name="num8" placeholder="Enter num8" id="">
        <!-- <input type="number" name="num9" placeholder="Enter num9" id=""> -->
        <!-- <input type="number" name="num10" placeholder="Enter num10" id=""> -->
        <button type="submit">Submit</button></form>
</body>
</html>